Once we have the data exported in different CSVs, we will export them to SQL to join them all in a single SQL from which we will obtain the different conclusions. For this we will use **sqlalchemy** and its connection engine.

In [27]:
from sqlalchemy import create_engine
import pandas as pd

In [28]:
str_conn='mysql+pymysql://root:admin@localhost:3306'
motor=create_engine(str_conn)

In [29]:
motor.execute('drop database if exists project2;')

In [30]:
motor.execute('create database project2;')

In [31]:
str_conn='mysql+pymysql://root:admin@localhost:3306/project2'
motor=create_engine(str_conn)

We export the three CSVs to SQL, which we will call data19 (df1), demog_data (gdp) and Streets (streets).

In [32]:
Dec_2019=pd.read_csv("../DATA_pd/dec.csv")

In [33]:
Dec_2019.to_sql(name='Dec2019', con=motor, if_exists='append', index=False)

In [34]:
demog_data=pd.read_csv('../DATA_pd/gdp.csv')

In [35]:
demog_data.to_sql(name='Data_demog', con=motor, if_exists='append', index=False)

In [36]:
Streets=pd.read_csv('../DATA_pd/streets.csv')

In [37]:
Streets.to_sql(name='Streets', con=motor, if_exists='append', index=False)

Once we have uploaded the three data frames to SQL, using joins, we establish the relationship between the three of them in order to export the new table (conclusion) from SQL back to jupyter to work with the data. We will use 500.000 raws for the analysis.

In [56]:
query='''Select * 
from Dec2019 as ddec
left join Data_demog as ddemo
on ddec.start_borough=ddemo.borough
left join Streets as st
on ddemo.borough=st.Borough LIMIT 500000'''

In [57]:
conclusion=pd.read_sql(query, motor)

In [58]:
conclusion.keys()

Index(['Unnamed: 0', 'index', 'tripduration', 'starttime', 'stoptime',
       'start_station_id', 'start_station_name', 'start_station_latitude',
       'start_station_longitude', 'end_station_id', 'end_station_name',
       'end_station_latitude', 'end_station_longitude', 'bikeid', 'usertype',
       'birth_year', 'gender', 'start_borough', 'Unnamed: 0', 'borough',
       'census (2020)', 'billions gdp', 'square miles', 'squarekm',
       'persons /mi2', 'persons /km2', 'Unnamed: 0', 'Location or Partner',
       'Borough', 'On Street', 'From Street', 'To Street', 'Type', 'Open Date',
       'Monday_Start', 'Monday_End', 'Tuesday_Start', 'Tuesday_End',
       'Wednesday_Start', 'Wednesday_End', 'Thursday_Start', 'Thursday_End',
       'Friday_Start', 'Friday_End', 'Saturday_Start', 'Saturday_End',
       'Sunday_Start', 'Sunday_End', 'Day of Week', 'Open_streets_perborough'],
      dtype='object')

We will delete all of the columns that are not necesary for the analysis.

In [70]:
conclusion_clean=conclusion.drop(['index','Unnamed: 0','tripduration', 'starttime', 'stoptime',
        'Unnamed: 0', 'borough',
       'census (2020)', 'square miles', 'squarekm',
       'persons /mi2', 'persons /km2', 'Unnamed: 0', 'Location or Partner',
       'Borough', 'On Street', 'From Street', 'To Street', 'Type', 'Open Date',
       'Monday_Start', 'Monday_End', 'Tuesday_Start', 'Tuesday_End',
       'Wednesday_Start', 'Wednesday_End', 'Thursday_Start', 'Thursday_End',
       'Friday_Start', 'Friday_End', 'Saturday_Start', 'Saturday_End',
       'Sunday_Start', 'Sunday_End', 'Day of Week','start_station_id','end_station_id','bikeid',
        'start_station_latitude','start_station_longitude',
        'end_station_latitude','end_station_longitude','gender','birth_year'], axis=1)

In [71]:
conclusion_clean

,start_station_name,end_station_name,usertype,start_borough,billions gdp,Open_streets_perborough
0,Carroll St & Smith St,6 Ave & 9 St,Subscriber,Brooklyn,$ 91.559,77
1,Carroll St & Smith St,6 Ave & 9 St,Subscriber,Brooklyn,$ 91.559,77
2,Carroll St & Smith St,6 Ave & 9 St,Subscriber,Brooklyn,$ 91.559,77
3,Carroll St & Smith St,6 Ave & 9 St,Subscriber,Brooklyn,$ 91.559,77
4,Carroll St & Smith St,6 Ave & 9 St,Subscriber,Brooklyn,$ 91.559,77
...,...,...,...,...,...,...
499995,E 2 St & Avenue C,E 2 St & Avenue A,Subscriber,Manhattan,$ 600.244,113
499996,E 2 St & Avenue C,E 2 St & Avenue A,Subscriber,Manhattan,$ 600.244,113
499997,E 2 St & Avenue C,E 2 St & Avenue A,Subscriber,Manhattan,$ 600.244,113
499998,E 2 St & Avenue C,E 2 St & Avenue A,Subscriber,Manhattan,$ 600.244,113
499999,E 2 St & Avenue C,E 2 St & Avenue A,Subscriber,Manhattan,$ 600.244,113

In [72]:
Resume=conclusion_clean.groupby(["start_borough","billions gdp","Open_streets_perborough"]).agg({"start_station_name": "count"}).rename(columns={"start_station_name":"total"}).sort_values(by='total', ascending=False)
Resume

                                                     total
start_borough billions gdp Open_streets_perborough
Manhattan     $ 600.244    113                      452050
Brooklyn      $ 91.559     77                        37730
Queens        $ 93.310     35                        10220

### Conclusion

If we consider 500,000 records of the month of December 2019 as a reference, we can conclude that there is a relationship, the neighborhoods where more streets have been pedestrianized are directly related to the use of bike sharing. Regarding the gdp highlight that Manhattan, is the area with by far the highest gdp as well as the area with the highest population density and  with the highest use of bike sharing by far.